@import url('https://fonts.googleapis.com/css?family=Sedan&display=swap');

body {
    font-family: Sedan; 
        
}

/*Навигационая панель*/
#navcolor {
    background-color:aliceblue; 
}
.nav-link {
    color: #f794ab;
}
.nav-link:hover {
    color:#808080;
;
}
.navbar-nav .nav-link.active {
    color: #fc5688;
}
.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color: #cdb1e767;
}

/*Карты товара*/
.card {
    margin-bottom: 100px;
}
.btn btn-primary {
    background-color:palevioletred;
    color: aliceblue;
    border-color: aliceblue;
}

/*Вставка с брендом*/
.name-brend {
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: -1px 100px 36px 30px #df6d89;
    margin-bottom: 100px;
    padding: 0;
   
}

/*Карусель*/
.slid-text {
    margin: auto auto;
    text-align: center;
}
.col-lg-6 col-md-6 slide-text {
   margin: auto auto;
    padding-top: 100px;
}
.carousel-item img {
    padding-left: 200px;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 1.5s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
/*Доп информация*/
footer {
    border-top: 25x solid black;
}

footer p {
    color: dimgray;
}
